* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    background-color: rgb(3, 19, 7);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    height: 60px;
    background-color: rgb(9, 60, 23);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
}

.logo {
    color: rgb(102, 244, 20);

}

.nav a {
    color: white;
    padding: 4px 8px;
    border-radius: 5px;
    text-decoration: none;
    margin-left: 30px;
    font-size: 16px;
    transition: 1s;
}

.nav a:hover{
    background-color: rgb(155, 155, 242);
    color:rgb(15, 16, 40);
    transition: 1s;
}

/* аватарка */

.logo {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.block1 {
    background-color: rgb(23, 96, 42);
    color: white;
    margin: 10px;
    padding: 30px;
   
}

.title {
    margin-top: 40px;
    margin-bottom: 40px;
     color: white;
    text-align: center;
}

.post {
    margin-top: 10px;
    margin-bottom: 30px;
}


.block2 {
    margin: 10px;
    background-color: rgb(23, 96, 42);
    padding: 0px 20px;
    display: grid;
    color: white;
   padding-bottom: 20px;
}

.btn{
    width: 15%;
    height: 50px;
    color:rgb(15, 16, 40);
    background-color: rgb(203, 225, 64);
    border-radius: 10%;
    transition: 1s;
    font-size: 16px;
    font-weight: 900;
    margin-left: 490px;
    
}

.btn:hover {
    background-color: black;
    color: white;
    border-radius: 25%;
    transition: 1s;
}

.images-row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.image-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1; 
    
}

.image-item img {
    width: 100%;
    max-width: 200px;
    height: auto;
}

.image-description {
    margin-top: 10px;
    font-weight: bolder;
    color: rgb(250, 250, 16);
}

.block3 {
    margin: 10px;
    background-color: rgb(23, 96, 42);
    padding: 0px 20px;
    display: grid;
    color: white;
   padding-bottom: 20px;
}

.cart-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 3px solid rgb(9, 60, 23);
    background-color: rgb(34, 131, 60);
    flex: 1; 
    margin-bottom: 10px;
    padding-bottom: 10px;
}


.footer {
    text-align: center;
    background-color: rgb(9, 60, 23);
    padding: 10px;
    font-size: 14px;
    
}

.title1 {
    margin-top: 10px;
    margin-bottom: 10px;
     color: white;
    text-align: center;
}